.work {
	&__inner {
		display: flex;
		gap: 53px;
	}
	&__img {
		&-box {
			max-width: 524px;
		}
		clip-path: url('#workMask');
		object-position: -550px -50px;
	}
	&__content {
		padding-top: 165px;
	}
	&__text {
		max-width: 529px;
		&-box {
		}
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #2c3e50;
		margin-bottom: 36px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
		text-transform: uppercase;
		color: #2c3e50;
		margin-bottom: 8px;
		&._accent {
			color: #2db5d3;
		}
	}
}
