.staff {
	padding-bottom: 85px;
	&__slider {
		position: relative;
		overflow: hidden;
		min-height: 516px;
		border-radius: 30px;
	}
	&__img {
		object-position: -5px -90px;
	}
	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;
		@include smoothValue('padding-left', 12px, 80px, $tablet, $desktop);
		@media (max-width: $laptop) {
			flex-direction: column;
		}
	}
	&__photo {
		width: 100%;
		height: 100%;
		margin-top: -20px;
		aspect-ratio: 447.47 / 499;
		clip-path: url('#staffMask');
		object-position: -219px 0;
		object-fit: none;
		@media (max-width: $tablet) {
			object-fit: cover;
			aspect-ratio: 234 / 261;
			object-position: center center;
		}
		&-box {
			flex-shrink: 0;
			width: 447px;
			@media (max-width: $tablet) {
				width: 100%;
			}
		}
	}
	&__text {
		&-box {
			padding-top: 90px;
			@media (max-width: $tablet) {
				padding-top: 0;
			}
		}
	}
	&__name {
		font-weight: 700;
		font-size: 24px;
		line-height: 140%;
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		margin-bottom: 20px;
		&._story {
			color: $primary;
			max-width: 606px;
			@media (max-width: $tablet) {
				font-size: 14px;
			}
		}
	}
	&__arrows {
		position: relative;
		width: 92px;
		left: 68px;
	}
	&__prev,
	&__next {
		width: 25px;
		height: 25px;
		background: inline('arrow.svg') no-repeat 0 0;
		background-size: cover;
	}
	&__next {
		transform: rotate(180deg);
	}
}
