$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

$default-font-family: 'Trebuchet MS', Arial, sans-serif;

$black: #000000;
$white: #ffffff;

$primary: #2c3e50;
$button-bg: #00aec7;

$tablet: 768px;
